/**
 * Site footer
 */
.site-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-left: 0;
}

.social-media-list li {
  margin: 0 1rem;
}
/*
.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}
*/
/*
.footer-col {
  
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}
*/

@include media-query($on-laptop) {
  .site-footer {
    flex-direction: column;
  }

}

@include media-query($on-palm) {
  /*
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
  */
}