.site-footer {
  @include flexy(column, space-around, center);
  height: 4rem;
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0;

  @include mq(medium) {
    flex-direction: row;
  }
}

.footer-heading {
  font-size: 1.5rem;
}

.contact-list,
.social-media-list {
  @include flexy(row, space-around, center);
  list-style: none;
  margin-left: 0;
}

.social-media-list li {
  margin: 0 1rem;

  @include mq(large) {
    margin: 0 2rem;
  }
}
