.site-header {
  @include flexy(column, flex-start, center);
  height: 6rem;
  background-color: $brand-color;
  padding: 0 $spacing-unit;
  
  @include mq(small-medium) {
    flex-direction: row;
  }
}

.site-title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 0;
  margin-right: 0;
  color: $background-color;

  &:visited {
    color: darken($background-color, 15%);
  }

  &:hover {
    color: darken($background-color, 40%);
    text-decoration: none;
  }

  @include mq(small-medium) {
    margin-right: auto;
  }
}

.site-nav {
  line-height: 3rem;

  .page-link {
    margin: 0 1rem;
    color: $background-color;
    line-height: $base-line-height;
  }
}