.page-content {
  padding: $spacing-unit;
  min-height: calc(100vh - 17rem);
}

.page-heading {
  font-size: 1.25rem;
}

.post-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  margin-left: 0;
  list-style: none;

  > li {
    
    border-radius: 1rem;
    padding: 1rem;
    background-image: radial-gradient(ellipse farthest-corner at 20rem 12rem, $sandy 0%, $brand-color-light 50%, $brand-color 85%);
    
    p {
      color: $grey-color-dark;
    }
  }

  @include mq(medium) {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  @include mq(large) {
    grid-template-columns: repeat(3, 1fr);
  }

}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color-light;
}

.post-link {
  display: block;
  font-size: 1.5rem;
}


