.post {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 1200px;
  margin: 0 auto;

  @include mq(medium) {
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2rem;
  }
}

.post-header {
  margin-bottom: $spacing-unit;
  grid-column: 1;
  grid-row: 1;

  @include mq(medium) {
    grid-column: 2;
  }
}

.post-title {
  font-size: 2.25rem;
  letter-spacing: -1px;
  line-height: 1;

  @include mq(large) {
    font-size: 3rem;
  }
}

.post-content {
  margin-bottom: $spacing-unit;
  grid-column: 1;
  grid-row: 2;

  h2 {
    font-size: 1.8rem;

    @include mq(large) {
      font-size: 2rem;
    }
  }

  h3 {
    font-size: 1.4rem;

    @include mq(large) {
      font-size: 1.6rem;
    }
  }

  h4 {
    font-size: 1.1rem;

    @include mq(large) {
      font-size: 1.25rem;
    }
  }
}

.post-sidebar {
  grid-column: 1;
  grid-row: 3;
    background-image: radial-gradient(ellipse farthest-corner at 10rem 5rem, #89AC9D 0%, $brand-color 75%);

  padding: 1rem;

  h2 {
    color: $sandy;
    font-size: 3rem;
  }

  @include mq(large) {
    grid-column: 2;
    grid-row: 2
  }
}



